**/node_modules/
**/dist/
**/*.tsbuildinfo
**/*.md
.docker/compose/
.docker/dockerfiles/
.husky/
.kubernetes/
.vscode/
node_modules/
*.md
.dockerignore
.editorconfig
.eslint*
.git*
.npmrc
.prettier*
docker-compose*.yml
LICENSE
