packages/**/dist/
packages/**/.latest_build
packages/.package_list
packages/.dependency_list
node_modules/
*.log
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tsbuildinfo
.env
