packages/**/dist/
packages/.package_list
packages/.dependency_list
packages/.latest_build
node_modules/
*.log
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tsbuildinfo
.env
